.page-header{
	background-image:url('/images/banner.png');
	height: 131px;
}
.page-header #gsc-searchbox{
	width: 300px;
	float: right;
	right: 5px;
	top: 100px;
	position: relative;
}
td.gsc-search-button{
	display:none;
}

.gsc-wrapper .gsc-adBlock{
	display: none;
}
.story .pubdate{
	float: right;
}

.contact-us .input-group{
	margin-bottom: 10px;
}

.contact-us .input-group .input-group-addon{
	width: 150px;
}

.contact-us .input-group .form-control{
	width: 450px;
}

.contact-us .input-group textarea.form-control{
	height: 200px;
}

#car-images-carousel .carousel-indicators{
	display: none;
}

#truck-images-carousel .carousel-indicators{
	display: none;
}

#boat-images-carousel .carousel-indicators{
	display: none;
}

